.WhitePostSlider {
    width:100%;
    float:left;
    position:relative;
}

.WhitePostSlider__Image {
    width:100%;
    position:absolute;
    top:0; left:0;
    z-index:1000;

    opacity:0;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}